{% extends 'base.html' %}
{% block title %} Edit Student {% endblock %}
{% block content %}
              <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Edit Students</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'hod_view_student' %}">Students</a></li>
                           <li class="breadcrumb-item active">Edit Students</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post" action="{% url 'hod_update_student' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Student Information</span></h5>
                                 </div>
                                  <div class="col-12 col-sm-12">
                                      {% include 'layouts/messages.html' %}
                                    <div class="form-group">
                                       <label>Profile Picture</label>
                                       <input type="file" class="form-control" name="profile_pic">
                                         <input type="text" class="form-control" name="student_id" value="{% for i in student %}{{i.admin.id }}{% endfor %}" hidden>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>First Name</label>
                                       <input type="text" class="form-control" name="first_name" value="{% for i in student %}{{i.admin.first_name }}{% endfor %}">
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Last Name</label>
                                       <input type="text" class="form-control" name = "last_name" value="{% for i in student %}{{i.admin.last_name }}{% endfor %}">
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Gender</label>
                                       <select class="form-control" name="gender">
                                          <option value="">Select Gender</option>
                                          <option value="male" {% for i in student %}{% if i.gender == 'male' %}selected{% endif %}{% endfor %}>Male</option>
                                          <option value="female" {% for i in student %}{% if i.gender == 'female' %}selected{% endif %}{% endfor %}>Female</option>
                                          <option value="others" {% for i in student %}{% if i.gender == 'others' %}selected{% endif %}{% endfor %}>Others</option>
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Date of Birth</label>
                                       <div>
                                          <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" value="{% for i in student %}{{i.date_of_birth|date:'Y-m-d'}}{% endfor %}">
                                       </div>
                                    </div>
                                 </div>
                                   <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Address</label>
                                       <input type="text" class="form-control" name="address" value="{% for i in student %}{{i.address }}{% endfor %}">
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Email</label>
                                       <input type="email" class="form-control" name="email" value="{% for i in student %}{{i.admin.email }}{% endfor %}">
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Username</label>
                                       <input type="text" class="form-control" name="username" value="{% for i in student %}{{i.admin.username }}{% endfor %}">
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Password</label>
                                       <input type="password" class="form-control" name="password" placeholder="If You Want to change Your Password.">
                                    </div>
                                 </div>
                                   <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                       <label>Courses</label>
                                       <select class="form-control" name="course_id">
                                          <option value="">Select Course</option>
                                           {% for i in course %}
                                          <option value="{{ i.id }}">{{ i.name }}&#32; &#40;{{i.short_name}}&#41;</option>
                                           {% endfor %}
                                       </select>
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                       <label>Session Year</label>
                                       <select class="form-control" name="session_year_id">
                                          {% for i in session_year %}
                                          <option value="{{ i.id }}">{{ i.session_start }} to {{ i.session_end }}</option>
                                           {% endfor %}
                                       </select>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Update Student</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const dobInput = document.getElementById("date_of_birth");

    // Today's date (YYYY-MM-DD)
    const today = new Date().toISOString().split("T")[0];

    // Allow past dates, block future dates
    dobInput.max = today;
  });
</script>
{% endblock %}