{% extends 'base.html' %} {% block title %} Apply for Leave {% endblock %} 
{%block content %} 
{% load static %}
<div class="page-header">
  <div class="row align-items-center">
    <div class="col">
      <h3 class="page-title">Apply for Leave</h3>
    </div>
    <div class="col-auto text-right float-right ml-auto">
      <button
        type="button"
        class="btn btn-primary mr-2"
        data-toggle="modal"
        data-target=".bd-example-modal-lg"
      >
        <i class="fas fa-pray"></i> Leave History
      </button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <form
          method="post"
          action="{% url 'apply_leave_save' %}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="row">
            <div class="col-12">
              <h5 class="form-title"><span>Apply for Leave</span></h5>
              {% include 'layouts/messages.html' %}
            </div>
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Leave Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="leave_date"
                  name="leave_date"
                />
              </div>
            </div>
            <div class="col-12 col-sm-12">
              <div class="form-group">
                <label>Leave Message</label>
                <textarea
                  class="form-control"
                  name="leave_message"
                  rows="15"
                ></textarea>
              </div>
            </div>
            <div class="col-12">
              <button type="submit" class="btn btn-primary">
                Apply for Leave
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Large modal -->
<div
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Leave History</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="card card-table">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-hover table-center mb-0"
                    id="table_id"
                  >
                    <thead>
                      <tr>
                        <th>Leave Date</th>
                        <th>Message</th>
                        <th class="text-right">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in staff_leave_history %}
                      <tr>
                        <td>{{ i.leave_date|date:'Y-m-d' }}</td>
                        <td>{{ i.message }}</td>
                        <td class="text-right">
                          <div class="actions">
                            {% if i.status == 0 %}
                            <span class="badge badge-info">Pending</span>
                            {% elif i.status == 1 %}
                            <span class="badge badge-success">Accept</span>
                            {% else %}
                            <span class="badge badge-danger">Rejected</span>
                            {% endif %}
                          </div>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let today = new Date().toISOString().split("T")[0];
    document.getElementById("leave_date").setAttribute("min", today);
  });
</script>

{% endblock %}
