{% extends 'base.html' %}
{% block title %} Feedback Message {% endblock %}
{% block content %}
{% load static %}
             <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Feedback</h3>
                     </div>
                     <div class="col-auto text-right float-right ml-auto">
                         <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fas fa-comment"></i> Feedback History</button>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-12">
                     <div class="card">
                        <div class="card-body">
                           <form method="post" action="{% url 'staff_feedback_save' %}" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Feedback</span></h5>
                                    {% include 'layouts/messages.html' %}
                                 </div>
                                  <div class="col-12 col-sm-12">
                                    <div class="form-group">
                                       <label>Feedback Message</label>
                                       <textarea class="form-control" name="feedback_message" rows="15"></textarea>
                                    </div>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Send Feedback</button>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Feedback History</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
             <div class="row">
                  <div class="col-sm-12">
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0" id="table_id">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>Feedback</th>
                                        <th>Reply</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for i in feedback_history %}
                                    <tr>
                                       <td>{{ i.id }}</td>
                                         <td>{{ i.feedback }}</td>
                                        {% if i.feedback_reply == " " %}
                                        <td><span class="badge badge-danger">No Reply</span></td>
                                        {% else %}
                                        <td>{{ i.feedback_reply }}</td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

        </div>
    </div>
  </div>
</div>
{% endblock %}