{% extends 'base.html' %}
{% block title %}View Attendance {% endblock %}
{% block content %}
              <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">View Attendance</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'staff_home' %}">Dashboard</a></li>
                           <li class="breadcrumb-item">Attendance</li>
                           <li class="breadcrumb-item active">View Attendance</li>
                        </ul>
                     </div>
                  </div>
               </div>
  {% if action is None %}
               <div class="row">
                  <div class="col-sm-12">
                      {% include 'layouts/messages.html' %}
                     <div class="card">
                       <div class="card-body">

                           <form method="post" action="?action=view_attendance">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Attendance Information</span></h5>
                                     {% include 'layouts/messages.html' %}
                                 </div>
                                   <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Subject</label>
                                       <select class="form-control" name="subject_id">
                                        <option value="">Select Subject</option>
                                         {% for i in subject %}
                                          <option value="{{ i.id }}">{{ i.name }}</option>
                                          {% endfor %}
                                       </select>
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Session Year</label>
                                       <select class="form-control" name="session_year_id">
                                        <option value="">Select Session Year</option>
                                         {% for i in session_year %}
                                          <option value="{{ i.id }}">{{ i.session_start }} to {{ i.session_end }}</option>
                                           {% endfor %}
                                       </select> 
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Attendance Date</label>
                                       <input type="date" class="form-control" name = "attendance_date">
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-12">
                                 {% for i in students %}
                                    <div class="form-group">
                                       <input class="form-check-input" type="checkbox" value="{{ i.id }}" id="exampleCheck1" name="student_id">
                                        <label class="form-check-label" for="exampleCheck1">
                                         {{ i.admin.first_name }} {{ i.admin.last_name }}
                                        </label>
                                    </div>
                                 {% endfor %}
                                 </div>
                                 <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Show Students</button>
                                 </div>
                              </div>
                           </form>
                        </div> 
                     </div>
                  </div>
               </div>
               {% else %}
                  <div class="row">
                  <div class="col-sm-12">
                      {% include 'layouts/messages.html' %}
                     <div class="card">
                       <div class="card-body">

                           <form method="post" action="?action=view_attendance">
                              {% csrf_token %}
                              <div class="row">
                                 <div class="col-12">
                                    <h5 class="form-title"><span>Attendance Information</span></h5>
                                     {% include 'layouts/messages.html' %}
                                 </div>
                                   <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Subject</label>
                                       <select class="form-control" name="subject_id" disabled>
                                        <option value="{{ get_subject.id }}">{{ get_subject.name }}</option>
                                       </select>
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Session Year</label>
                                       <select class="form-control" name="session_year_id" disabled>
                                        <option value="{{ get_session.id }}">{{ get_session.session_start }} to {{ get_session.session_end }}</option>
                                       </select> 
                                    </div>
                                 </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                       <label>Attendance Date</label>
                                       <input type="date" class="form-control" name = "attendance_date" value="{{ attendance_date }}" disabled>
                                    </div>
                                 </div>
                                 <div class="col-12 col-sm-12">
                                 {% for i in students %}
                                    <div class="form-group">
                                       <input class="form-check-input" type="checkbox" value="{{ i.id }}" id="exampleCheck1" name="student_id">
                                        <label class="form-check-label" for="exampleCheck1">
                                         {{ i.admin.first_name }} {{ i.admin.last_name }}
                                        </label>
                                    </div>
                                 {% endfor %}
                                 </div>
                                 <div class="col-12">
                                    <div class="row">
                  <div class="col-sm-12">
                     {% include 'layouts/messages.html' %}
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0" id="table_id" >
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>Student Name</th>
                                       <th>Email</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for at in attendance_report %}
                                    <tr>
                                       <td>{{ forloop.counter }}</td>
                                       <td>{{ at.student_id.admin.first_name }} {{ at.student_id.admin.last_name }}</td>
                                       <td>{{ at.student_id.admin.email }}</td>
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
                                 </div>
                              </div>
                           </form>
                        </div> 
                     </div>
                  </div>
               </div>
               {% endif %}
            </div>

{% endblock %}