{% extends 'base.html' %}
{% block title %} Staff Feedback {% endblock %}
{% load static %}
{% block content %}
                  <div class="page-header">
                  <div class="row align-items-center">
                     <div class="col">
                        <h3 class="page-title">Staff Feedback</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
                           <li class="breadcrumb-item active">Send Staff Feedback</li>
                        </ul>
                     </div>
                     <div class="col-auto text-right float-right ml-auto">
                       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        View All Feedbacks
                        </button>
                     </div>
                  </div>
               </div>
      <div class="row">
                  <div class="col-sm-12">
                      {% include 'layouts/messages.html' %}
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0" id="table_id">
                                 <thead>
                                    <tr>
                                       <th>ID</th>
                                       <th>Staff Name</th>
                                       <th>Feedback</th>
                                        <th>Date</th>
                                       <th class="text-right">Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for i in feedback %}
                                    <tr>
                                       <td>{{ i.id }}</td>
                                       <td>{{ i.staff_id.admin.first_name }}&nbsp;{{ i.staff_id.admin.last_name}}</td>
                                       <td>{{ i.feedback }}</td>
                                        <td>{{ i.created_date|date:'Y-m-d' }}</td>
                                       <td class="text-right">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#send_notification_model-{{forloop.counter}}">Reply</button>                                       </td>
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
<!-- Modal -->
{% for i in feedback %}
<div class="modal fade" id="send_notification_model-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel1">Reply To: {{i.staff_id.admin.first_name}}&nbsp;{{i.staff_id.admin.last_name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form method="post" action="{% url 'staff_feedback_reply_save' %}">
          {% csrf_token %}
  <div class="form-group">
    <input type="text" class="form-control" name="feedback_id" value="{{ i.id }}" hidden>
      <textarea name="feedback_reply" cols="55" rows="10"></textarea>
  </div>
          <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Send Reply</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
</form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Feedback Reply</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div class="modal-body">
            <div class="row">
                  <div class="col-sm-12">
                      {% include 'layouts/messages.html' %}
                     <div class="card card-table">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-hover table-center mb-0" id="table_id">
                                 <thead>
                                    <tr>
                                       <th style="width: 60%">Feedback</th>
                                       <th class="text-right" style="width: 30%">Reply</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for i in feedback_history %}
                                    <tr>
                                       <td>{{ i.feedback }}</td>
                                        {% if i.status == 0 %}
                                        <td><span class="badge badge-danger">Message Unseen</span></td>
                                        {% else %}
                                        <td><span>{{ i.feedback_reply }}</span></td>
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
 {% endblock %}